body{
    color : #142c5c;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width : 90%;
    margin: auto;
}

/*Navigation bar's style*/
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #d0cccc;
}

.navicon{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    font-weight: bold;
    flex: 1;
    color: #152C5B;
}

.link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    flex: 1;
    color: #152C5B;
}

.link a{
    transform: translateY(25%);
}

.link a:hover{
    cursor: pointer;
}

.icon:hover{
    cursor: pointer;
}

.colorstyles{
    color: #3252DF;
} 

a {
    all: unset;
}


.highlight{
    color: #3252DF;
}

main{
    margin: 30px;
}

/*Iklan*/

.adSection{
    text-align: center;
    position: relative;
}

.ad{
    width: 90%;
}

.info{
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    border-radius: 25%;
}

.button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 20%;
    background-color: #f7f7f7;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button p{
    display: inline-block;
    transform: translateY(-50%);
}

.button:hover{
    cursor: pointer;
}

.button:nth-child(1){
    border-right: 1px solid #d0cccc ;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.button:nth-child(2){
    border-left: 1px solid #d0cccc ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.buton:hover{
    cursor: pointer;
}

.button img{
    width: 30px;
}

/*Destinasi*/

.judul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px; 
    font-weight: bold; 
    margin-bottom: 30px; 
}
.widthD{
    width: 240px;
}

.cardD{
    display: inline-block;
    position: relative;
    background-color: #0066FE;
    color: white !important;
    border-radius: 25px;
    margin: 10px;
}


.judulCard{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.detailCardD {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.detailCardD p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.cardD .utama{
    display: block;
    border-radius: 25px;
    height: 250px;
    width: 100%;
}

.cardD .bintang{
    width: 34px;
}

.btnD{
    margin: 10px;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: end;
}

.btnD button{
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btnD button:hover{
    cursor: pointer;
}

.rekomendasi{
    margin-top: 30px;
    padding: 30px;
}

.cardPos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardR img{
    display: block;
    margin: auto;
}

.cardR .infoR{
    transform: translateY(-100%);
    color: #f7f7f7;
    padding: 20px;
    background: linear-gradient(268.58deg, rgba(0, 0, 0, 0) 34.26%, #0066FE 91.4%);
}

.cardD .utamaR{
    border-radius: 25px;
    width: 100%;
}

.table{
    display: flex;
    justify-content: space-between;
}

.i{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.i .icon{
    margin-top: 30px;
}

.i .detail{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 50px;
    text-align: center;
    color: #BDBBBB;
}


.informasi{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.informasi .active{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.informasi .judulInfo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.informasi .linkInfo a{
    margin: 30px;
    color: #BDBBBB;
    display: block;
}

footer{
    border-top: 1px solid #d0cccc;
}


.icon{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

.copyright{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #BDBBBB;
    font-weight: bold;
}